<div class="footer-basic">
    	<footer>
            <div class="social">
                <a href="https://www.instagram.com/mlhacks/"><i class="icon ion-social-instagram"></i></a>
                <a href="https://www.linkedin.com/school/mlh-fellowship/mycompany/"><i class="icon ion-social-linkedin"></i></a>
                <a href="https://twitter.com/MLHacks"><i class="icon ion-social-twitter"></i></a>
                <a href="https://www.facebook.com/MajorLeagueHacking"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Blog</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="projects/project.html">Projects</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">MLH Prep © 2022</p>
        </footer>
 </div>
    
   
