<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#"><i class="footer-icon ion-social-instagram"></i></a
            ><a href="#"><i class="footer-icon ion-social-linkedin"></i></a
            ><a href="#"><i class="footer-icon ion-social-twitter"></i></a
            ><a href="#"><i class="footer-icon ion-social-facebook"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Blog</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item">
                <a href="projects/project.html">Projects</a>
            </li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">MLH Prep © 2022</p>
    </footer>
</div>
