@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "navbar";
@import "profile";
@import "page";
@import "footer";

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Open Sans", sans-serif;
}

.card-container a {
    text-decoration: none;
}

@media only screen and (max-width: 1500px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

body {
    background-color: #f5f5f9;
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
    background-color: white;
    border-radius: 0.375rem;
    padding: 1.5em;
    font-size: 1.2em;
}

a {
    color: black;
}

.info {
    p {
        margin-top: 5px;
        margin: 0px;
        text-align: left;
    }

    .title {
        font-size: 500;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
    }

    .location,
    .description,
    .tech-stack {
        font-size: medium;
        font-weight: 400;
        margin-top: 20px;
        color: black;
    }

    .dates {
        font-size: small;
        color: #404040;
    }

    .developer {
        font-size: small;
        font-weight: bold;
        margin-top: 20px;
        color: black;
    }
}

.socials {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

    img {
        width: 100%;
    }
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.preview {
    .project-img {
        width: 200px;
        height: 200px;
    }
}

.project-row {
    display: flex;
    justify-content: space-between;

    .backbutton {
        color: blue;
        font-size: 15px;
        font-weight: 700;
        background-color: white;
        height: 40px;
        width: 150px;
        border-radius: 1rem;
        text-align: center;

        a {
            text-decoration: none;
        }

        img {
            height: 20px;
            width: 20px;
            margin-right: 5px;
        }
    }
}
