.profile {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #133767),
        no-repeat top/100% url("/assets/img/header-background.jpg"), #1d006d;
    text-align: center;
    margin-bottom: 50px;
    background-size: cover;
    height: fit-content;
    padding-bottom: 20px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: inline;
        object-fit: cover;
    }

    .profile-picture {
        margin-bottom: 30px;

        img {
            width: 200px;
            height: 200px;
            padding: 14px;
        }
    }
}
